<h1>Sample App</h1>
<p>
  het help on Ruby on Rails Tutorials at the <a href="http://www.railstutorial.org/help">Ruby on Rails help page</a>.
  To get help on this sample app, see the <a href="http://www.railstutorial.org/book">Rails Tutorial Book</a>.
</p>
